@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bord {
  border: 1px solid black
}

/* Wallet adapter button theming */
.wallet-adapter-button {
  background-color: #4f46e5;
  /* indigo-600 */
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color .25s, box-shadow .25s, transform .25s;
  box-shadow: 0 4px 10px -2px rgba(79, 70, 229, .4);
}

.wallet-adapter-button:hover {
  background-color: #4338ca;
  /* indigo-700 */
}

.wallet-adapter-button-trigger {
  padding: 0.5rem 1rem;
}